*.o
*.pyc
weights/weightFiles/leptonSF/EGM2D_*.root
weights/weightFiles/pileupWeights/*.root
ttZAnalysis/frMaps/
ttZAnalysis/plots/
ttZAnalysis/controlPlots
ttZAnalysis/responseMatrices
ttZAnalysis/ttZAnalysis
rsync-*
submit.sh*
.DS_Store
